<!DOCTYPE html>
<html lang="en" ng-app="pozBlog">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>POZ Blog</title>
	<meta name="author" content="Philippe Ozil">
	<meta name="description" content="A blog about various technologies and Open Source projects">
	
	<link href="/favicon.png" rel="icon">
	<link href="css/3rd-party/bootstrap.min.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
</head>
<body ng-controller="AppController as appCtrl">

	<!-- Site header -->
	<div class="container site-header" id="top">
		<h1><a href="/">The POZ blog</a></h1>
		<h2>Whenever you need to press <span class="glyphicon glyphicon-pause"></span> and think :)</h2>
	</div>

	<!-- Site navigation -->
	<div class="container site-nav">
		<nav class="navbar navbar-default">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li ng-class="{ active: appCtrl.isActiveView('/posts')}"><a href="#posts"><span class="glyphicon glyphicon-bullhorn"></span>Blog</a></li>
					<li ng-class="{ active: appCtrl.isActiveView('/archives')}"><a href="#archives"><span class="glyphicon glyphicon-book"></span>Archives</a></li>
				</ul>
			</div>
		</nav>
	</div>

	<!-- Site body -->
	<div class="container site-body">
		<div class="row">

			<div class="site-content" ng-class="appCtrl.isSidebarMinimized ? 'col-sm-12' : 'col-sm-9'">
				<span class="toggle-sidebar" ng-click="appCtrl.toggleSidebar()" ng-class="appCtrl.isSidebarMinimized ? 'minimized' : 'maximized'"></span>
				<div ng-view autoscroll="true"></div>
			</div>

			<div class="sidebar" ng-class="appCtrl.isSidebarMinimized ? 'minimized' : 'col-sm-3'">
				<img class="avatar" src="images/avatar.png" alt="Philippe Ozil"/>
				<div class="sidebar-module">
					<h4><span class="glyphicon glyphicon-user"></span> About me</h4>
					<p>My name is Philippe Ozil, I am Developer Evangelist at Salesforce.</p>
					<p>Prior to that, I was Technical Evangelist and consultant for Bonitasoft an Open Source BPM software vendor.</p>
					<p>I am a Java and AngularJS expert but I enjoy experimenting with many different technologies.</p>
					<p>I am opening this blog to share my experience.<br/>
					Enjoy your reading and I hope you will find this content useful.</p>
				</div>
				<div class="sidebar-module">
					<h4><span class="glyphicon glyphicon-time"></span> Recent Posts</h4>
					<ol class="list-unstyled">
						<li ng-repeat="post in posts| limitTo:5" class="post-title">
							<a href="#post/{{post.date}}">{{post.title}}</a>
						</li>
					</ol>
					<a class="more-posts" href="#archives">More...</a>
				</div>
				<div class="sidebar-module">
					<h4><span class="glyphicon glyphicon-cloud"></span> Elsewhere</h4>
					<ol class="list-unstyled">
						<li><a href="https://github.com/pozil">GitHub</a></li>
						<li><a href="https://twitter.com/PhilippeOzil">Twitter</a></li>
						<li><a href="https://www.linkedin.com/in/PhilippeOzil">LinkedIn</a></li>
					</ol>
				</div>
			</div><!-- /.blog-sidebar -->

		</div><!-- /.row -->

	</div><!-- /.container -->

	<div class="container site-footer">
		<div class="row">
			<div class="col-sm-4">
				<p>Copyright © 2016 - Philippe Ozil</p>
			</div>
			<div class="col-sm-4 text-center">
				<a href="" ng-click="appCtrl.scrollToTop()"><span class="glyphicon glyphicon-arrow-up"></span>Back to top</a>
			</div>
		</div>
	<div>

	<!-- JS 3rd party dependencies -->
	<script src="js/3rd-party/angular.min.js"></script>
	<script src="js/3rd-party/angular-route.min.js"></script>
	<script src="js/3rd-party/ui-bootstrap-tpls.min.js"></script>
	<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
	ga('create', 'UA-78961087-1', 'auto');
	</script>
	
	<!-- JS app dependencies -->
	<script src="js/app.js"></script>
</body>
</html>
