<div ng-controller="PostsController as postsCtrl" class="full-posts">
	
	<div ng-repeat="post in postsCtrl.posts" class="post" itemprop="blogPost" itemscope itemtype="https://schema.org/BlogPosting">
		<h2 class="post-title" itemprop="name headline">{{post.title}}<a class="glyphicon glyphicon-link" ng-href="#/post/{{post.date}}" title="Direct link" itemprop="url"></a></h2>
		<time class="post-date" itemprop="datePublished" datetime="{{post.date}}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{post.date | date}}</time>
		<div class="post-content" itemprop="articleBody" ng-bind-html="postsCtrl.getAsHtml(post.content)"></div>
	</div>

	<div class="text-center">
		<uib-pagination total-items="postsCtrl.totalCount" ng-model="postsCtrl.pageIndex" ng-change="postsCtrl.pageChanged()"
			max-size="5" items-per-page="3"
			boundary-links="true" rotate="true" num-pages="numPages" class="pagination-sm"></uib-pagination>
	</div>
	
	<div class="text-center more-posts">
		<span>-</span>
		<a href="#archives">Blog archives</a>
		<span>-</span>
	</div>
</div>