<div ng-controller="PostController as postCtrl" class="full-posts post">
	<nav>
		<ul class="pager">
			<li class="previous" ng-class="postCtrl.hasPreviousPost() ? '' : 'disabled'">
				<a ng-href="{{postCtrl.getPreviousPostUrl()}}" toggleable-link="postCtrl.hasPreviousPost()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Newer</a>
			</li>
			<li class="next" ng-class="postCtrl.hasNextPost() ? '' : 'disabled'">
				<a ng-href="{{postCtrl.getNextPostUrl()}}" toggleable-link="postCtrl.hasNextPost()"> Older<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
			</li>
		</ul>
	</nav>
	
	<div itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
		<h2 class="post-title" itemprop="name headline">{{postCtrl.post.title}}<a class="glyphicon glyphicon-link" ng-href="#/post/{{post.date}}" title="Direct link" itemprop="url"></a></h2>
		<time class="post-date" itemprop="datePublished" datetime="{{postCtrl.post.date}}"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>{{postCtrl.post.date | date}}</time>
		<div class="post-content" itemprop="articleBody" ng-bind-html="postCtrl.getAsHtml(postCtrl.post.content)"></div>
	<div>
	
	<nav>
		<ul class="pager">
			<li class="previous" ng-class="postCtrl.hasPreviousPost() ? '' : 'disabled'">
				<a ng-href="{{postCtrl.getPreviousPostUrl()}}" toggleable-link="postCtrl.hasPreviousPost()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Newer</a>
			</li>
			<li class="next" ng-class="postCtrl.hasNextPost() ? '' : 'disabled'">
				<a ng-href="{{postCtrl.getNextPostUrl()}}" toggleable-link="postCtrl.hasNextPost()"> Older<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
			</li>
		</ul>
	</nav>
</div>